/* Food log style sheet. */

.group {
    background-color: #ffc0c0;
    border-style: groove;
}

.label {
    background-color: #c0c0ff;
}

.selector {
    background-color: #c0ffc0;
}

.entry {
    background-color: #d0d0d0;
}

#quaEntry {
    width: 3pc;
}