{% extends "layout.html" %}
{% block body %}
  <h2>Home</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>
  {% else %}
  {% if log == none %}
  <p class=error>No recent entries</p>
  {% else %}
  <p>Most recent log at {{ log.timestamp }}:
    {{ log.kind.name }}, {{ log.quantity }} {{ log.dimension }}.
  </p>
  {% endif %}
  {% if weight == none %}
  <p class=error>No recent weigh-ins</p>
  {% else %}
  <p>Latest weight {{ weight.weight }} at {{ weight.timestamp }}.
  </p>
  {% endif %}

  <form action="{{ url_for ('add') }}" method="post">
    <h3>What</h3>
    <p> {% for kind in kinds %}
      <span class="group">
        <span class="label"> {{ kind.name }}: </span>
        <span class="selector">
          <input type="radio" name="kind" value="{{ kind.id }}">
        </span>
      </span>
      {% endfor %} </p>
    <h3>How much</h3>
    <p> <input type="number" name="quantity" /> </p>
    <h3>Notes, if any</h3>
    <p> <input type="text" name="note" /> </p>
    <h3>Go!</h3>
    <p> <input type="submit" value="Submit" /> </p>
  </form>

  {% endif %}
{% endblock %}
