{% extends "layout.html" %}
{% block body %}
  <h2>Weigh-In</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>
  {% else %}
  <p>Most recent weight at {{ log.timestamp }}:  {{ log.weight }}.
  </p>

  <form action="{{ url_for ('weighin') }}" method="post">
    <h3>How much</h3>
    <p> <input type="number" name="value" /> </p>
    <h3>Notes, if any</h3>
    <p> <input type="text" name="note" /> </p>
    <h3>Go!</h3>
    <p> <input type="submit" value="Submit" /> </p>
  </form>

  {% endif %}
{% endblock %}
